.mainDiv {
  text-align: center;
}

.showingToday {
  text-align: center;
  color: aliceblue;
  font-family: "Anton", sans-serif;
}

.header-style {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bolder;
}

.titleBtn,
.theaterBtn,
.restaurantBtn {
  text-align: initial;
  color: beige;
  background-color: transparent;
  font-size: x-large;
  font-style: italic;
  display: flex;
  align-content: center;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}
